div {
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
}
.klase-1 {
    background-image: url("../images/1.jpg");
}
.klase-2 {
    background-image: url("../images/2.jpg");
}
.klase-3 {
    background-image: url("../images/3.jpg");
}
.klase-4 {
    background-image: url("../images/4.jpg");
}
.klase-5 {
    background-image: url("../images/5.jpg");
}
.klase-6 {
    background-image: url("../images/6.jpg");
}
