.kg {
    background-image: url("https://cdn3.iconfinder.com/data/icons/glypho-shopping-and-ecommerce/64/weight-kg-512.png");
    background-size: cover;
    width: 50px;
    height: 50px;
}
.kibiras {
    background-image: url("https://www.ermitazas.lt/out/pictures/master/product/1/112834.jpg");
    background-size: cover;
    width: 50px;
    height: 50px;
}
.litras {
    background-image: url("https://target.scene7.com/is/image/Target/GUEST_9f9b2773-d0df-47a5-a5b7-b0c77a4e894a?wid=488&hei=488&fmt=pjpeg");
    background-size: cover;
    width: 50px;
    height: 50px;
}