.flex {
    display: flex;
    flex-wrap: wrap;
}
.cig {
    background-image: url("https://www.mallatts.com/store/images/D/JKPUCIG-01.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}
